<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polling Units</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container mt-5">
        <h1>Polling Units</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Polling Unit ID</th>
                    <th>Ward ID</th>
                    <th>LGA ID</th>
                    <th>Polling Unit Number</th>
                    <th>Polling Unit Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for polling_unit in object_list %}
                <tr>
                    <td>{{ polling_unit.polling_unit_id }}</td>
                    <td>{{ polling_unit.ward_id }}</td>
                    <td>{{ polling_unit.lga_id }}</td>
                    <td>{{ polling_unit.polling_unit_number }}</td>
                    <td>{{ polling_unit.polling_unit_name }}</td>
                    <td><a href="{% url 'election_data:polling_unit_detail' pk=polling_unit.pk %}" class="btn btn-primary">View More</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>